<h1>Heroes</h1>
<hr>

<div class="row">
    <div class="col-md-12 text-right">
        <button class="btn btn-outline-primary"
                [routerLink]="['/heroe','nuevo']"
                type="button"
                name="button">
                Nuevo
        </button>
    </div>
</div>
<br>

<div class="row  animated fadeIn fast">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Company</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let k of heroes | keys; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{ heroes[k].name}}</td>
                        <td>{{ heroes[k].company}}</td>
                        <td>
                          <button type="button"
                                  [routerLink]="['/heroe',k]"
                                  class="btn btn-success"
                                  name="button">
                            Editar
                          </button>
                          <button type="submit"
                                  (click)="eliminarHeroe(k)"
                                  class="btn btn-danger"
                                  name="button">
                            Eliminar
                          </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="( heroes | keys).length==0 && !loading" class="alert alert-primary" role="alert">
                No hay héroes que mostrar
            </div>

            <div *ngIf="loading" class="alert alert-warning" role="alert">
                Cargando...
            </div>
        </div>
    </div>
</div>
